.services {
  padding: var(--header-height) var(--page-margin) var(--space-xl);
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: flex-start;
  gap: var(--space-3xl);
  flex-grow: 1;
  max-width: var(--content-margin);
}

.servicesInfo,
.servicesCategories {
  flex: 1 1 50%;
}

.servicesInfo {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  position: sticky;
  top: var(--header-height);
}

.sectionTitle {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.servicesCategories {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: var(--space-md);
}

.serviceCategory {
  border-top: 1px solid var(--color-subdued);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: var(--space-md) 0;
}

.serviceTitle {
  display: flex;
  flex-direction: row;
}

.serviceName {
  composes: h4 from '../../index.css';
}

.serviceDeliverables {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  flex: 50% 0 0;
}

.deliverable {
  composes: caption from '../../index.css';
}

@media screen and (max-width: 880px) {

  .servicesInner {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    max-width: 600px;
  }

  .servicesInfo {
    max-width: unset;
    flex: auto 0 0;
    /* flex-grow: 0; */
  }

  .stats {
    max-width: unset;
    flex: auto 0 0;
  }

  .servicesCategories {
    max-width: unset;
  }

}