.services {
  padding: var(--space-4xl) var(--page-margin);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.servicesInner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--space-3xl);
  flex-grow: 1;
  max-width: var(--content-margin);
}

.servicesInfo {
  flex: 50% 1 0;
  max-width: 800px;
}

.stats {
  margin-top: var(--space-lg);
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  max-width: 600px;
}

.stat {
  border: 1px solid var(--color-subdued);
  border-radius: var(--radius-sm);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-sm) var(--space-md);
}

.statLabel {
  color: var(--color-light);
  margin: 0;
}

.statValue {
  margin: 0;
  /* color: var(--color-subdued); */
}

.servicesCategories {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: var(--space-md);
  flex: 50% 0 1;
  max-width: 600px;
}

.serviceCategory {
  border-top: 1px solid var(--color-subdued);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: var(--space-md) 0;
}

.serviceTitle {
  flex: 50% 0 0;
}

.serviceDeliverables {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  flex: 50% 0 0;
}

@media screen and (max-width: 880px) {

  .servicesInner {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    max-width: 600px;
  }

  .servicesInfo {
    max-width: unset;
    flex: auto 0 0;
    /* flex-grow: 0; */
  }

  .stats {
    max-width: unset;
    flex: auto 0 0;
  }

  .servicesCategories {
    max-width: unset;
  }

}