.services {
  padding: 0 var(--page-margin) var(--space-xl);
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: flex-start;
  gap: var(--space-3xl);
  flex-grow: 1;
  width: 100%;
}

.servicesInfo {
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  gap: var(--space-2xl);
  position: sticky;
  top: 0;
  height: 100lvh;
  padding: var(--header-height) 0 var(--space-lg);
}

.sectionTitle {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  opacity: 1;
  translate: 0 0;
  transition: opacity var(--anim-lg), translate var(--anim-lg);
}

.servicesInfo[data-animated="false"] .sectionTitle {
  opacity: 0;
  translate: 60px 0;
}

.sectionMedia {
  flex-grow: 1;
  position: relative;
  border-radius: var(--radius-lg);
  overflow: hidden;
  opacity: 1;
  transition: opacity var(--anim-lg);
}

.servicesInfo[data-animated="false"] .sectionMedia {
  opacity: 0;
}

.serviceImage {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  object-fit: contain;
  opacity: 0;
  scale: 1.1;
  transition: opacity var(--anim-lg), scale var(--anim-lg);
}

.serviceImageInline {
  display: none;
}

.serviceImage[data-active="true"] {
  opacity: 1;
  scale: 1;
}

.servicesCategories {
  flex: 1 0 40%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /* max-width: 70ch; */
  gap: 20lvh;
}

.serviceCategory {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: var(--header-height) 0 var(--space-md);
  gap: var(--space-md);
  color: var(--color-subdued);
  transition: color var(--anim-sm);
  min-height: 80lvh;
}

.serviceCategory[data-active="true"] {
  color: var(--color-reverse);
}

.serviceText {
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
}

.serviceTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.serviceNumber {
  composes: h6 from '../../index.css';
  /* padding-top: var(--space-xs); */
}

.serviceName {
  composes: h3 from '../../index.css';
  flex: 0 0 90%;
  /* margin-bottom: var(--space-lg); */
}

.serviceDeliverables {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--space-sm);
  list-style: none;
}

.deliverable {
  width: 90%;
  composes: h6 from '../../index.css';
}

@media screen and (max-width: 960px) {

  .services {
    flex-direction: column;
    align-items: stretch;
    gap: var(--space-md);
  }

  .servicesInfo {
    position: relative;
    height: auto;
  }

  .sectionMedia {
    display: none;
  }

  .serviceImageInline {
    border-radius: var(--radius-sm);
    aspect-ratio: 3 / 2;
    width: 100%;
    display: block;
  }

  .servicesCategories {
    max-width: unset;
    gap: var(--space-2xl);
  }

  .serviceCategory {
    min-height: unset;
    padding: 0;
    flex-direction: column;
    gap: var(--space-lg);
  }

  .serviceText {
    flex-direction: row;
    justify-content: space-between;
    /* justify-content: flex-start; */
    align-items: flex-start;
    gap: var(--space-lg);
  }

  .serviceTitle {
    justify-content: flex-start;
    gap: var(--space-md);
  }

  .serviceName {
    flex-basis: auto;
    margin-bottom: var(--space-sm);
  }

  .deliverable {
    width: 100%;
  }

}