.about {
  padding: var(--header-height) var(--page-margin) var(--space-xl);
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: flex-start;
  gap: var(--space-xl);
  overflow: hidden;
}

.sectionContent,
.sectionMedia { 
  flex: 1 1 50%;
}

.sectionContent {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  opacity: 1;
  translate: 0 0;
  transition: opacity var(--anim-lg), translate var(--anim-lg);
}

.sectionContent[data-animated="false"] {
  opacity: 0;
  translate: 60px 0;
}

.sectionContent[data-animated="false"] .stat {
  opacity: 0;
}

.sectionTitle {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

.stats {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

.stat {
  --transition-stagger: .2s;
  border: 1px solid var(--color-subdued);
  border-radius: var(--radius-sm);
  padding: var(--space-md);
  color: var(--color-light);
  opacity: 1;
  transition: opacity var(--anim-lg);
}

.stat:nth-child(2n) {
  transition-delay: calc(var(--transition-stagger) * 1);
}

.stat:nth-child(3n) {
  transition-delay: calc(var(--transition-stagger) * 2);
}

.stat:nth-child(4n) {
  transition-delay: calc(var(--transition-stagger) * 3);
}

.stat:nth-child(5n) {
  transition-delay: calc(var(--transition-stagger) * 4);
}

.stat em {
  color: var(--color-reverse);
}

.sectionMedia {
  position: relative;
  align-self: stretch;
  opacity: 1;
  transition: opacity var(--anim-lg);
}

.sectionMedia[data-animated="false"] {
  opacity: 0;
}

.video {
  width: 100%;
  height: 100%;
  min-height: 0;
  object-fit: cover;
  border-radius: var(--radius-lg);
}

@media screen and (max-width: 960px) {

  .about {
    padding: var(--space-xl) var(--page-margin) ;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;
    gap: var(--space-xl);
    min-height: 100lvh;
  }
}