.agencies {
  padding: var(--space-lg) var(--page-margin) var(--space-3xl);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--space-lg);
}

.sectionTitle {
  flex: 40% 1 0;
  /* color: var(--color-light); */
}

.agencyCards {
  display: flex;
  flex-direction: row;
  gap: var(--space-lg);
  align-items: flex-start;
}

.agencyCard {
  flex: 1 1 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-sm);
}

.agencyLogo {
  height: 30px;
}

.agencyDescription {
  /* color: var(--color-subdued); */
}

@media screen and (max-width: 880px) {

  .agencies {
    flex-direction: column;
  }

  .agencyLogo {
    height: 20px;
  }

}