.clients {
    display: grid;
    --scroll-offset: 1;
    /* display: flex; */
    /* flex-direction: row; */
    gap: var(--space-xl);
    flex-wrap: nowrap;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr; */
    /* grid-template-columns: auto; */
    padding: 0 var(--page-margin);
    will-change: translate;
    max-width: unset;
    /* width: fit-content; */
    /* translate: 0 0; */
}

.clientCard {
    --index: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 0;
    /* width: 50vw; */
    overflow: hidden;
    aspect-ratio: 5 / 3;
    margin: 0;
    flex: 30vw 0 0;
    border-radius: var(--radius-sm);
    /* scale: calc(0.2 * var(--index)); */
    scale: var(--random);
}

.clientImage {
    position: absolute;
    object-fit: cover;
    z-index: 0;
    width: 100%;
    height: 100%;
    /* filter: grayscale(1); */
}

.clientLogo {
    position: relative;
    z-index: 1;
    width: 70%;
    max-height: 100%;
}