.clients {
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: var(--header-height) 0 var(--space-xl);
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
}

@keyframes scrollClientCards {
    to {
        translate: calc(-50% - var(--space-sm) / 2) 0;
    }
}

@keyframes scrollClientCardsInverse {
    from {
        translate: calc(-50% - var(--space-sm) / 2) 0;
    }
}

.clientCardRow {
    --anim-duration: 100s;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: var(--space-sm);
    margin: 0;
    padding: 0;
    width: max-content;
    will-change: translate, width;
}

.clientCardRow[data-animate-active="true"] {
    animation: scrollClientCards var(--anim-duration) linear 0.1s infinite normal forwards;
}

.clientCardRow[data-animate-active="true"]:nth-child(2n) {
    animation: scrollClientCardsInverse var(--anim-duration) linear 0s infinite normal forwards;
}



.clientCard {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 0;
    width: 30vw;
    overflow: hidden;
    aspect-ratio: 5 / 3;
    margin: 0;
    border-radius: var(--radius-sm);
}

.clientImage {
    position: absolute;
    object-fit: cover;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.clientLogo {
    position: relative;
    z-index: 1;
    width: 70%;
    max-height: 100%;
}

@media screen and (max-width: 800px) {

    .clients {
        padding: var(--space-xl) 0;
    }

    .clientCard {
        width: 50vw;
    }
    
}