.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-xl);
  /* min-height: 100lvh; */
  padding: var(--space-2xl) var(--page-margin);
}

.sectionTitle {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: var(--space-xs); */
}

.formToggle {
  /* margin-top: var(--space-sm);  */
}

.toggleFields {
  border: 1px solid var(--form-field-border);
  border-radius: var(--radius-lg);
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  /* margin-top: var(--space-sm);  */
}

.radio {
  padding: var(--space-sm) var(--space-md);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space-xs);
  user-select: none;
  cursor: pointer;
}

.radio[data-active="true"] {
  background-color: var(--color-reverse);
  color: var(--color-ink);
}

.radio[data-active="true"] input {
  border-color: var(--color-ink);
}

.radio input {
  appearance: none;
  border-radius: var(--radius-rounded);
  width: var(--form-toggle-size);
  height: var(--form-toggle-size);
  position: relative;
  margin: 0;
  padding: 0;
}

.radio input::before {
  content: "";
  position: absolute;
  width: 60%;
  aspect-ratio: 1 / 1;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  display: block;
  background-color: var(--color-ink);
  opacity: 0;
  border-radius: var(--radius-rounded);
}

.radio input:checked:before {
  opacity: 1;
}

.hubspotForm {
  display: block;
}

.hubspotForm[data-hidden="true"] {
  display: none;
}

@media screen and (max-width: 768px) {
  .radio {
    padding: var(--space-xs) var(--space-sm);
  }
}