.header {
    width: 100%;
    position: fixed;
    z-index: 9;
    top: 0;
    right: 0;
    left: 0;
    height: var(--header-height);
    translate: 0 0%;
    transition: translate var(--anim-lg);
}


.header[data-animated="false"] {
    translate: 0 -100%;
} 

.promoBar {
    color: var(--color-ink);
    background-color: var(--color-reverse);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--space-xs);
}

.promoBar p {
    margin: 0;
}

.headerMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--space-md) var(--page-margin);
}

.navigationMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-lg);
}

.logo {
    font-size: clamp(26px, 2.5vw, 36px);
    font-weight: 600;
    letter-spacing: -0.01em;
    color: inherit;
    padding-right: var(--space-lg);
    border-right: 1px solid var(--color-reverse);
}

.logo::before {
    display: none;
}

.logo sup {
    font-size: 0.5em;
}

.navigationLinks {
    border: 1px solid var(--color-reverse);
    border-radius: var(--radius-rounded);
    display: flex;
    flex-direction: row;
    overflow: hidden;
    /* background: var(--gradient-ink); */
}

.navigationLink {
    color: inherit;
    height: var(--button-height);
    /* padding: var(--space-2xs) var(--space-sm); */
    background-color: transparent;
    border: none;
    border-radius: 0;
    transition: background-color var(--anim-sm), color var(--anim-sm);
}

.navigationLink[data-active="true"] {
    background-color: var(--color-reverse);
    color: var(--color-ink);
}

.navigationLink:hover {
    outline: none;
    border: none;
}

.utilityMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-lg);
}

.socialLink {
    width: var(--icon-lg);
}

.utilityMenu a {
    color: inherit;
}

.headerButton {
    /* background: var(--gradient-ink); */
    background-color: var(--color-reverse);
    color: var(--color-ink);
    opacity: 1;
    padding: var(--space-2xs) var(--space-2xs) var(--space-2xs) var(--space-sm);
    /* padding-inline: var(--space-md) var(--space-xs); */
    gap: var(--space-lg);
}

.headerButton:hover {
    background: var(--color-accent);
}

.buttonIcon {
    width: 30px;
    height: 30px;
    /* background-color: var(--color-reverse); */
    color: var(--color-reverse);
    border-radius: var(--radius-rounded);
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--gradient-ink);
    /* place-items: center;
    place-content: center; */
}

.buttonIcon svg {
    width: 50%;
}

@media screen and (max-width: 800px) {

    .logo {
        border: none;
    }

    .navigationLinks {
        display: none;
    }
}