.header {
    width: 100%;
    position: fixed;
    z-index: 9;
    top: 0;
    right: 0;
    left: 0;
}

.promoBar {
    color: var(--color-ink);
    background-color: var(--color-reverse);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--space-xs);
}

.promoBar p {
    margin: 0;
}

.headerMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--space-md) var(--page-margin);
}

.navigationMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-md);
}

.logo {
    width: 25vw;
    max-width: 150px;
    padding-right: var(--space-md);
    border-right: 1px solid var(--color-subdued);
}

.logo img {
    width: 100%;
}

.utilityMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-lg);
}

.socialLink {
    width: var(--icon-lg);
}

.utilityMenu a {
    color: inherit;
}

.navigationLink {
    color: inherit;
}

@media screen and (max-width: 800px) {
    .navigationLink {
        display: none;
    }

    .socialLink {
        display: none;
    }
}