.partners {
  padding: var(--space-xl) var(--page-margin);
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
}

.sectionTitle {
  border-bottom: 1px solid var(--color-reverse);
}

.partnerLogos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* gap: var(--space-lg); */
}

.partnerLogo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.partnerLogo img {
  max-width: 200px;
}