.partners {
  padding: var(--header-height) var(--page-margin) var(--space-3xl);
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: var(--space-lg);
  overflow: hidden;
}

.sectionTitle {
  max-width: 90ch;
  opacity: 1;
  translate: 0 0;
  transition: opacity var(--anim-lg), translate var(--anim-lg);
}

.sectionTitle[data-animated="false"] {
  opacity: 0;
  translate: 60px 0;
}

.sectionTitle img {
  height: 1em;
  vertical-align: middle;
}

.partnerLogos {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin: 0 -10vw;
}

.partnerLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 2 / 1;
  position: relative;
  opacity: 1;
  translate: 0 0;
  transition: opacity var(--anim-lg);
}

.partnerLogo[data-animated="false"] {
  opacity: 0;
}

.partnerLogo img {
  width: 80%;
  aspect-ratio: 2 / 1;
  object-fit: cover;
}

@media screen and (max-width: 960px) {

  .partners {
    align-items: center;
    text-align: center;
  }

  .partnerLogos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 0vw;
  }

}