.footer {
  composes: caption from '../../index.css';
  margin: 0 var(--page-margin);
  padding: var(--space-lg) 0;
  border-top: 1px solid var(--color-subdued);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

footer p {
  margin: 0;
}

.footerInfo {

}

.footerLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space-md);
}

.footerLink {
  /* color: inherit; */
  color: var(--color-light);
}


@media screen and (max-width: 600px) {
  .footer {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: var(--space-md)
  }
}

