.textLink {
  display: flex;
  flex-direction: row;
  gap: var(--space-xs);
  align-items: center;
  color: inherit;
  align-self: flex-start;
}

.textLink::before {
  display: none;
}

.textLink .text {
  margin: 0;
}

.textLink svg {
  width: 1em;
  transition: translate var(--anim-sm);
}

.textLink:hover svg {
  translate: 5px 0;
}